@page
@model OrganiZaUI.Pages.ComprobarPagosModel
@{
}
@if (Model.Users.Rolusuario == null)
{
    RedirectToPage("/Error");
}
else
{
    <h1>Comprobar Pagos</h1>
    <br />
    <br />
    <br />
    <form method="post">
        @if (Model.Pago.Any())
        {


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(x => x.Pago.FirstOrDefault().Id)</th>
                        <th scope="col">@Html.DisplayNameFor(x => x.Pago.FirstOrDefault().NombreT)</th>
                        <th scope="col">@Html.DisplayNameFor(x => x.Pago.FirstOrDefault().Alumno)</th>
                        <th scope="col">@Html.DisplayNameFor(x => x.Pago.FirstOrDefault().Mespagado)</th>
                        <th scope="col">@Html.DisplayNameFor(x => x.Pago.FirstOrDefault().Fecha)</th>
                        <th scope="col">Verificar Documentos</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Pago)
                    {

                        <tr>
                            <td scope="row">@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.NombreT)</td>
                            <td>@Html.DisplayFor(m => item.Alumno)</td>
                            <th>@Html.DisplayFor(m => item.Mespagado)</th>
                            <th>@Html.DisplayFor(m => item.Fecha)</th>
                            <td>
                                <a asp-page="/Detalles" asp-route-ID="@item.Id" class="btn btn-success">Visualizar</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <div class="mx-auto text-center">
                <span class="text-danger">No se encontraron ningun registro</span>
            </div>
        }
    </form>
}