@page
@model OrganiZaUI.Pages.RegistroTModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/StyleSheet.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

    </div>
</div>
<div class="container">

    <form id="signup" class="mt-3" method="post">

        <div class="header">
            <br>
            <h3>Crear cuenta</h3>
            <p>Bienvenido</p>

        </div>

        <div class="sep"></div>

        <div class="inputs">
            <input type="text" asp-for="@Model.tutor.NombreT" class="form-control" placeholder="Nombre" autofocus autocomplete="off" />

            <input type="text" asp-for="@Model.tutor.Alumno" class="form-control" placeholder="Nombre del hijo(a)" autofocus autocomplete="off" />

            <input type="text" asp-for="@Model.tutor.IdE" class="form-control" placeholder="ID de la escuela que perteneces" autofocus autocomplete="off" />


            <input type="email" asp-for="@Model.user.Usuario" class="form-control" placeholder="E-mail" autofocus autocomplete="off" />

            <input type="password" asp-for="@Model.user.Contraseña" class="form-control" placeholder="Contraseña" autocomplete="off" />

            <div class="checkboxy">
                <input name="cecky" id="checky" value="1" type="checkbox" autocomplete="off" /><label class="terms">Acepto los terminos de uso</label>
            </div>

            <button id="submit" class="btn btn-success btn-block" type="submit">Registrar</button>
        </div>

    </form>

</div>
