@page
@model OrganiZaUI.Pages.VCalendarioModel
@{
}
<h1>Calendario de pagos</h1>
<link rel="stylesheet" href="~/css/e.css" />
<form method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.Movie.FirstOrDefault().fecha)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Movie.FirstOrDefault().Colegiatura)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Movie.FirstOrDefault().statusdepago)</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Movie)
            {

                <tr>
                    <td scope="row">@Html.DisplayFor(m => item.fecha)</td>
                    <td>@Html.DisplayFor(m => item.Colegiatura)</td>
                    <th>@Html.DisplayFor(m => item.statusdepago)</th>

                </tr>
            }
        </tbody>

    </table>

</form>
