@page
@model OrganiZaUI.Pages.VCalendarioModel
@{
}
<h1>Calendario de pagos</h1>
<link rel="stylesheet" href="~/css/e.css" />
<form method="post">

    @if (Model.Mov.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => x.Mov.FirstOrDefault().fecha)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Mov.FirstOrDefault().Colegiatura)</th>


                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.Mov)
                {

                    <tr>
                        <td scope="row">@Html.DisplayFor(m => item.fecha)</td>
                        <td>@Html.DisplayFor(m => item.Colegiatura)</td>



                    </tr>
                }
            </tbody>

        </table>
        <div class="col-md-12 text-center">
            <div class="form-group">
                <a asp-page="/PRealizados" asp-route-ID="@Model.Users.Id" class="btn btn-success m-1">Pagos realizados</a>
            </div>
        </div>
    }
    else
    {
        <div class="mx-auto text-center">
            <span class="text-danger">No se encontraron ningun pago</span>
        </div>
    }
</form>
